packages:
  rpm:
    filebeat: "https://s3.amazonaws.com/elasticbeanstalk-us-east-1-252450725677/filebeat-1.2.3-x86_64.rpm"

commands:
  "100-update-test-args":
    command: "sed -i -e 's/test_args=.*/test_args=\"-configtest\"/'  /etc/init.d/filebeat"
  "200-pipe-test-to-null":
    command: "sed -i -e 's/\\(.*\\) $test_args$/\\1 $test_args 2> \\/dev\\/null > \\/dev\\/null/'  /etc/init.d/filebeat"
  "300-run-daemon-in-bg":
    command: "sed -i -e 's/\\(.*\\) $args$/\\1 $args 2> \\/dev\\/null > \\/dev\\/null \\&/'  /etc/init.d/filebeat"
  "400-restart-filebeat":
    command: "/etc/init.d/filebeat restart"
    test: "[ -f /etc/init.d/filebeat ]"
    ignoreErrors: true

container_commands:
  "100-update-config":
    command: "cp -f ops/logging_configs/logging.conf /etc/filebeat/filebeat.yml"
  "200-restart":
    command: "/etc/init.d/filebeat restart"
    test: "[ -f /etc/init.d/filebeat ]"
    ignoreErrors: true

services:
  sysvinit:
    filebeat:
      enabled: true
      ensureRunning: true
